body {
  background-size: 100%;
  background-image: url("../images/ryan-hutton-Jztmx9yqjBw-unsplash.jpg");
  font-family: "Urbanist", sans-serif !important;
  padding: 100px 50px;
}

footer,
footer a {
  color: #fff;
  font-family: "Urbanist", sans-serif !important;
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding-left: 0px !important;
}

.city-name {
  color: #27296d;
  font-size: 60px;
  font-weight: 600;
}

.future-temp-low {
  opacity: 0.5;
}

.future-weather {
  padding-top: 25px;
  text-align: center;
}

.icon-temp {
  color: #a393eb;
  display: inline-block;
  font-size: 70px;
  vertical-align: middle;
}

.main-container {
  border: 2px solid #27296d;
  border-radius: 25px;
  background: #ffffff;
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
  padding: 50px 50px;
}

.primary-desc {
  color: #5e63b6;
  font-size: 18px;
  font-weight: bold;
}

.right-section {
  padding-top: 20px;
}

.search-city {
  background-color: #f5c7f7;
  border: 1px solid #f5c7f7;
  border-radius: 4px;
  color: #fff;
  padding: 7px 10px;
}

.search-row {
  padding-bottom: 25px;
}

.secondary-desc {
  color: #a393eb;
  font-size: 14px;
  font-style: italic;
}

.temp-metric,
.temp-metric a {
  color: #a393eb;
  font-size: 20px;
  text-decoration: none;
  vertical-align: top;
}

.temp-metric a:hover {
  color: #27296d;
  text-decoration: none;
}

#weather-icon {
  display: inline-block;
  height: 120px;
  width: 120px;
}

#weather-icon-future {
  display: inline-block;
  height: 60px;
  width: 60px;
}
